```gitignore
# Node
node_modules/
.env
dist/
build/
npm-debug.log*

# Environment files
__pycache__/
*.pyc
.env
venv/

# Python
__pycache__/
*.pyc
venv/

# Java
*.class
target/
bin/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


# Logs
*.log
```
