MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>?appName=<appName>
ORIGIN=https://your-frontend.vercel.app
SECRET_KEY=change_this_to_a_random_secret
LOGIN_TOKEN_EXPIRATION=7d
PASSWORD_RESET_TOKEN_EXPIRATION=15m
COOKIE_EXPIRATION_DAYS=7
PRODUCTION=true
EMAIL=youremail@gmail.com
PASSWORD=your_gmail_app_password
OTP_EXPIRATION_TIME=300000
PORT=8000
